/* цвет лого Web  #2196F3  */
/* цвет лого Studio  #000000  */

/* основной цвет текста   #757575  */

/* дополнительный цвет текста  #212121  */

/* белый текст  #FFFFFF  */

/* цвет акцента  #2196F3  */


/* цвет фона шапки   #FFFFFF  */

/* основной цвет фона   #E5E5E5  */

/* дополнительный цвет фона (Наша команда)   #F5F4FA  */

/* цвет фона героя и футера #2F303A  */

:root {
--main-color: #757575;
--secondary-color: #212121;
--accent-color: #2196F3;
--accent-button-color: #FFFFFF;
--main-bg-color: #E5E5E5;
--secondary-bg-color: #F5F4FA;
--header-bg-color: #FFFFFF;
--hero-footer-bg-color: #2F303A;
}

body {
	font-family: Roboto;
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

.list {
	list-style: none;
}

/* Header */
.page-header {
	background-color: var(--header-bg-color);
}

/* Site nav */
.logoheader {
	color: #000000;
}

.logoheader-web {
	color: #2196F3;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link {
	color: var(--secondary-color);
}

.site-nav .accent {
	color: var(--accent-color);
}

/* Contacts */
.list .contacts {
	color: var(--main-color);
}

.contacts:hover,
.contacts:focus {
	color: var(--accent-color);
}

/* Hero */
.hero {
	background-color: var(--hero-footer-bg-color);
}

.hero .title {
	color: #FFFFFF;
}

.button-primary {
	color: var(--accent-button-color);
	background-color: var(--accent-color);
}

.button-secondary {
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
}

/* Section Features */
.features .main-title,
.portfolio .main-title {
	display: none;
}

.features .title {
	color: var(--secondary-color);
}

/* Section Work */
.work .title {
	color: #212121;
}

/* Section Team */
.team {
	background-color: var(--secondary-bg-color);
}

.team .title {
	color: var(--secondary-color);
}

/* Footer */
.footer {
	background-color: var(--hero-footer-bg-color);
}

.logofooter {
	color: #FFFFFF;
}

.logofooter-web {
	color: #2196F3;
}

.footer .address {
	color: #FFFFFF;
}

.contacts {
	color: rgba(255, 255, 255, .6);
}

.footer .logofooter:hover,
.footer .address:hover {
	color: var(--accent-color);
}

/* Section Work Examples Portfolio */
.examples .title {
	color: var(--secondary-color);
}
